<!-- <table class="table2" columnChooser #table2="columnChooser">
        <thead>  
            <tr class="tableHeaderRow">
                <th data-eliminate="true">
                    <app-column-chooser [chooser]="table2"></app-column-chooser>
                </th>
                <th  class="sourceHeader" data-title="User ID" data-required="true">
                    <div class="tdSortable">User ID</div>
                </th>
                <th  class="sourceHeader" data-title="Name" data-required="true">
                    <div class="tdSortable">Name</div>
                </th>
                <th  class="sourceHeader">
                    Gender
                </th>
                <th  class="sourceHeader">
                    Class
                </th>
                <th  class="sourceHeader" data-hide="true">
                    Club
                </th>
                <th  class="destinationHeader">
                    <div class="tdSortable">Strength</div>
                </th>
                <th  class="destinationHeader">
                    Hairstyle
                </th>
                <th class="destinationHeader">
                    Color
                </th>
                <th  class="destinationHeader">
                    Stockings
                </th>
                <th  class="destinationHeader" data-hide="true">
                    ScheduleAction
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="tableHeaderRow" *ngFor="let row of arr">
                <td></td>
                <td class="tableBorder" title="{{row.ID}}">{{row.ID}}</td>
                <td class="tableBorder" title="{{row.Name}}">{{row.Name}}</td>
                <td class="tableBorder" title="{{ (row.Gender == '1') ? 'Male' : 'Female' }}">{{ (row.Gender == '1') ? 'Male' : 'Female'}}</td>
                <td class="tableBorder" title="{{row.Class}}">{{row.Class}}</td>
                <td class="tableBorder" title="{{row.Club}}">{{row.Club}}</td>
                <td class="tableBorder" title="{{row.Strength}}">{{row.Strength}}</td>
                <td class="tableBorder" title="{{row.Hairstyle}}">{{row.Hairstyle}}</td>
                <td class="tableBorder" title="{{row.Color}}">{{row.Color}}</td>
                <td class="tableBorder" title="{{row.Stockings}}">{{row.Stockings}}</td>
                <td class="tableBorder" title="{{row.ScheduleAction}}">{{row.ScheduleAction}}</td>
            </tr>
        </tbody>
    </table> -->
    <nav>
        <a [routerLink]="['/home']">Home</a> |
        <a [routerLink]="['/about']">About</a> |
        <a [routerLink]="['/fining-falcone']">Fining Falcone</a> |
        <a [routerLink]="['/tabs-comp']">Tabs component</a> |
        <a [routerLink]="['/contact-us']">Contact us</a>
    </nav>
    <router-outlet></router-outlet>